// Contact card
.contactCard {
    grid-area: main;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: auto 10% auto 10%;
    border-radius: 10px;
}
.contactCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

// Adding background colour and padding around the form
.contactContainer {
    border-radius: 10px;
    background-color: #05668d;
    padding: 20px;
    max-width: 600px;
    // Styling the text input area
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical
    }
    // Styling the submit button
    input[type=submit] {
        background-color: #00a896;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: #efc267;
    }
    #subject {
        height: 200px;
    }
}
@media only screen and (max-width: 375px) {
    .contactContainer #subject {
    height: 15vh;
    }
}
@media only screen and (min-width: 768px) {
    .contactContainer {
        width: 600px;
        padding: 30px;
        input[type=text] {
            padding: 30px 12px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        #subject {
            margin-top: 15px;
        }
    }
}